mpv/watch_later
.DS_Store
__pycache__
nvim/lazy-lock.json
nvim/.config/nvim/lazy-lock.json
nvim/.config/nvim-lazyvim/lazy-lock.json
nvim/.config/nvim/lazy-lock.json
nvim/.config/nvim-lazyvim/lazy-lock.json
