# Default keybinds:
# + and _ -> cycle through layouts: normal, half, full

gui:
  showIcons: true # enable nerd fonts
  theme:
    activeBorderColor:
      - yellow
      - bold
    selectedLineBgColor:
      # NOTE: use hex instead of 'black' for nvim terminal coloring
      - "#444444"
  sidePanelWidth: 0.2 #fraction of left side, default is 0.33
git:
  branchLogCmd: "git log --color=always --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)' --date-order"
  pagers:
    - colorArg: always
      pager: delta --dark --paging=never --side-by-side # side by side takes more horizontal space
      # pager: delta --dark --paging=never
      # pager: delta --dark --paging=never --diff-so-fancy # diff-so-fancy mode breaks syntax highlighting
  disableForcePushing: true
keybinding:
  universal:
    toggleRangeSelect: "V"
  commits:
    cherryPickCopy: "y"
    copyCommitAttributeToClipboard: "c"
    pasteCommits: "v"
confirmOnQuit: true
customCommands:
  - key: "W"
    command: git commit --no-verify
    context: "global"
    output: terminal
